/*
!/.ackrc
!/.shell_aliases
!/.bash_profile
!/.bashrc
!/.config
/.config/*
!/.config/git
!/.config/nvim
/.config/nvim/.netrwhist
/.config/nvim/bundle
/.config/nvim/spell
!/.git-prompt-colors.sh
!/.gitignore
!/.shellfuncs
!/.zsh_profile
!/.zshrc
!/dev.yml
!/bin
!/install.sh
!/nerdfont
