/*
!/.ackrc
!/.bash_aliases
!/.bash_profile
!/.bashrc
!/.config
/.config/*
!/.config/nvim
!/.config/git
/.config/nvim/bundle
!/.git
!/.git-prompt-colors.sh
!/.gitconfig
!/.gitignore
!/.global_gitignore
!/.shellfuncs
!/.zsh_profile
!/.zshrc
!/Library/
/Library/*
!/Library/Application Support/
/Library/Application Support/*
!/Library/Application Support/Firefox/
/Library/Application Support/Firefox/*
!/Library/Application Support/Firefox/Profiles/
/Library/Application Support/Firefox/Profiles/*
!/Library/Application Support/Firefox/Profiles/dobq4989.default/
/Library/Application Support/Firefox/Profiles/dobq4989.default/*
!/Library/Application Support/Firefox/Profiles/dobq4989.default/chrome/
/Library/Application Support/Firefox/Profiles/dobq4989.default/chrome/*
!/Library/Application Support/Firefox/Profiles/dobq4989.default/chrome/userContent.css

!/bin
!/nerdfont
