[user]
	name = Lisa Ugray
	email = lisa.ugray@shopify.com
[merge]
	tool = vimdiff
[alias]
	st = status
	co = commit
	ch = checkout
	alias = config --get-regexp ^alias\\.
	unstage = reset HEAD --
	remove = reset HEAD --
	gl = log --oneline --graph --all
	permission-reset = !git diff -p -R | grep -E \"^(diff|(old|new) mode)\" | git apply
	graphical = !(gitk --all &> /dev/null &)
	k = !(gitk --all &> /dev/null &)
	fpt = force-push-this
	m = checkout master
	amco = commit -a --amend --no-edit
	prune-all-hard = !git fetch --all --prune && git branch -vv --no-color | grep \"\\[.*: gone\\]\" | awk \"{print \\$1}\" | xargs git branch -D
	checkoutr = checkout
	br = branch
[push]
	default = simple
[color "diff"]
	whitespace = red reverse
	commit = green
	frag = cyan
	old = red
	new = green
	meta = yellow
	func = bold magenta
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color]
	ui = auto
[core]
	pager = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less -RX --quit-if-one-screen
	excludesfile = /Users/lisaugray/.gitignore
[pull]
	ff = only
[track-push]
	default = lugray
[fetch]
	prune = true
